[user]
        name = Florian PISANI
        email = 42639605+f-pisani@users.noreply.github.com
[core]
        excludesfile = ~/.gitignore
        editor = vim
[init]
        defaultBranch = main
[pull]
        rebase = false
